<div id="header-navigation">
  <nav class="navbar navbar-expand-lg navbar-dark dark-theme pt-0">
    <div class="mx-lg-auto text-md-center" id="navbarSupportedContent">
      <img class="icon-img" (click)="open = !open" src="../../assets/icon_arrow_white.png" />
      <div class="nav-title navbar-brand pb-0">Art&Keystroke</div>
      <div [ngClass]="this.open ? 'collapseShow' : 'collapseHidden'" class="collapsable">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-divider disabled">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-divider disabled">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-divider disabled">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-divider disabled">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio">Portfolio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

