<app-header></app-header>
<div class="wrapper row">
  <div class="container-fluid card plant-card col-md-4 col-sm-12 col-xs-12">
    <div class="card-body">
      <h5 class="card-title">Basic Plant Themed Website</h5>
      <p class="card-text">Simple Plant Themed Website Mock-up</p>
      <a routerLink="/portfolio_plants" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="container-fluid dog-walking-card card col-md-4 col-sm-12 col-xs-12">
    <div class="card-body">
      <h5 class="card-title">Dog Walker Website Mock-up</h5>
      <p class="card-text">WIP</p>
      <a routerLink="#" class="btn btn-primary">Coming Soon</a>
    </div>
  </div>
  <div class="container-fluid dark-theme-card card col-md-4 col-sm-12 col-xs-12">
    <div class="card-body">
      <h5 class="card-title">Dark Themed Personal Website</h5>
      <p class="card-text">WIP</p>
      <a routerLink="#" class="btn btn-primary">Coming Soon</a>
    </div>
  </div>
</div>
