.modal-body
  height: 60vh
  overflow: scroll

.modal-img
  background-image: url(../../../assets/pink_plant.jpg)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

.modal-wrapper
  min-width: 100%


@media screen and (max-width: 770px)
  .modal-img
    display: none
