<div class="modal-wrapper row">
  <div class="modal-imgs col-md-4 col-xs-12">
    <div class="modal-img-container">
      <div *ngFor="let img of productImgs">
        <img class="product-img" src="../../../assets/{{img}}" />
      </div>
    </div>
  </div>
  <div class="modal-right-wrapper col-md-8 col-xs-12">
    <div class="modal-header">
      <h4 class="modal-title">Why Not a Cactus?</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales tincidunt nulla. Pellentesque blandit, lorem ac porta laoreet, lorem nunc eleifend orci, eu mattis lorem mi vitae tortor. Etiam venenatis risus et ipsum tristique rutrum. Donec lacinia molestie iaculis.
      <p></p>
      Ut eget tellus nec velit dignissim scelerisque a non lacus. Etiam diam neque, placerat id tortor imperdiet, vestibulum tincidunt libero. Praesent malesuada ullamcorper augue et fermentum. Cras malesuada augue suscipit, euismod odio at, sodales justo. Proin ipsum orci, placerat id euismod at, sollicitudin quis libero. Vestibulum a elit sed magna fermentum tincidunt at eu nisi. Phasellus nec justo erat. Sed dapibus magna egestas tellus efficitur, et mattis est gravida. Etiam maximus eu libero posuere semper.
      <p></p>
      Integer ornare lorem justo, quis pellentesque mauris tempus a. Nullam sodales eros neque, et euismod tortor convallis ac. Quisque tempor, elit sit amet scelerisque scelerisque, ipsum lectus malesuada est, feugiat suscipit magna nulla ut diam. Fusce aliquet velit libero, sit amet viverra leo aliquet eget.
      <p></p>
      Mauris efficitur lacus sit amet felis venenatis interdum. Aenean aliquet neque nec augue vestibulum, at pulvinar est varius. Quisque a nunc vel tellus suscipit mollis luctus in dui. Nullam non felis bibendum nulla eleifend elementum. Vestibulum vel justo a augue consectetur consequat ut ac mi. Nunc mollis erat varius libero blandit, a varius leo interdum.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </div>
</div>
