<app-header></app-header>
<div class="home-container">
  <img class="img-fluid" src="../../assets/step_into_fall_banner_no_text.jpg" />
  <div class="cascading-text typing-container">
    <span class="cascading-text__letter">W</span>
    <span class="cascading-text__letter">e</span>
    <span class="cascading-text__letter">l</span>
    <span class="cascading-text__letter">c</span>
    <span class="cascading-text__letter">o</span>
    <span class="cascading-text__letter">m</span>
    <span class="cascading-text__letter">e</span>
  </div>
</div>

